<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx">

	<context:component-scan base-package="controller,validator" />
	
	<mvc:annotation-driven/>
	 	 
	<bean name="/example1.do" class="controller.Example1Controller" />

	<bean id="example7PdfOutput" class="view.Example7PdfView" />
	
	<mvc:view-controller path="/example9" view-name="example9" />

	<!--  ========================================= URL Handler ===========================================  -->
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />
	
	<!--  ========================================= View Resolvers ===========================================  -->
	<bean
		class="org.springframework.web.servlet.view.BeanNameViewResolver">
	</bean>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>
  
  	<!-- 
 	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html" />
				<entry key="json" value="application/json" />
				<entry key="xml" value="application/xml" />
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="prefix" value="/" />
					<property name="suffix" value=".jsp" />
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />
				<bean id="jaxbView"
					class="org.springframework.web.servlet.view.xml.MarshallingView">
					<constructor-arg>
						<bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
							<property name="classesToBeBound">
								<list>
									<value>entity.Flight</value>
									<value>entity.FlightList</value>
								</list>
							</property>
						</bean>
					</constructor-arg>
				</bean>
			</list>
		</property>
	</bean>
  	 -->

	<!--  ========================================= Validation ====================================  -->

	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="validationMessageSource" ref="messageSource" />
	</bean>
  	 
	<!--  ========================================= I18N ===========================================  -->
	
	<bean id="messageSource"
	        class="org.springframework.context.support.ResourceBundleMessageSource">
	    <property name="basenames">
	      <list>
	        <value>resources.mymessages</value>
	      </list>
	    </property>
	</bean>
	
	<bean id="localeResolver"
	    class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/example9"/>
				<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
					<property name="paramName" value="lang" />
				</bean>
		</mvc:interceptor>
	</mvc:interceptors>	

	<!--  ========================================= Themes ===========================================  -->
	<bean id="themeSource"
		class="org.springframework.ui.context.support.ResourceBundleThemeSource">
		<property name="basenamePrefix" value="resources/theme-" />	
	</bean>

	<bean id="themeChangeInterceptor"
		class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
		<property name="paramName" value="theme" />	
	</bean>

	<bean id="themeResolver"
		class="org.springframework.web.servlet.theme.CookieThemeResolver">
		<property name="defaultThemeName" value="default" />	
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/example10"/>
				<bean
					class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
					<property name="paramName" value="theme" />	
				</bean>
		</mvc:interceptor>
	</mvc:interceptors>	
			
	<!--  ========================================= Exception handlers ===========================================  -->

	<bean id="exceptionMapping"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
	    <property name="mappedHandlers">
	       <set>
			<!-- <ref local="registerController" />  -->
		   </set>
		</property>
		<property name="exceptionMappings">
			<props>
				<prop key="NullPointer">unexpectedError</prop>
			</props>
		</property>
	</bean>

	
</beans>
